


.wraper{
width:918px;
margin:25px auto;
background-color:#EFF;
}
#a1{
  background-image: url("https://github.com/Daniel-Newman/Clamber/blob/master/church.jpg?raw=true");
margin: 0 0 6px 0;
height: 300px;
 width: 300px;
 background-color:#1f5bb5;}
#b1{
    background-image: url("https://github.com/Daniel-Newman/Clamber/blob/master/soccer.jpg?raw=true");
margin: 0 0 6px 0;
height: 300px;
 width: 300px;
 background-color:#246ad4;}
#c1{
    background-image: url("https://github.com/Daniel-Newman/Clamber/blob/master/church.jpg?raw=true");
height: 300px;
 width: 300px;
 background-color:#266fde;}
#a2{
    background-image: url("https://github.com/Daniel-Newman/Clamber/blob/master/group.jpg?raw=true");
margin: 0 0 6px 0;
height: 300px; 
 width: 300px;
 background-color:#2369d1;
position: static;

}
#b2{
    background-image: url("https://github.com/Daniel-Newman/Clamber/blob/master/curic.jpg?raw=true");
margin: 0 0 6px 0;
height: 300px;
 width: 300px;
 background-color:#2773e6;}
#c2{ 
    background-image: url("https://github.com/Daniel-Newman/Clamber/blob/master/church.jpg?raw=true");
height: 300px;
 width: 300px;
 background-color:#347be6;}
#a3{
    background-image: url("https://github.com/Daniel-Newman/Clamber/blob/master/classes.jpg?raw=true");
margin: 0 0 6px 0;
height: 300px; 
width: 300px; 
background-color:#266fde;}
#b3{
    background-image: url("https://github.com/Daniel-Newman/Clamber/blob/master/event.jpg?raw=true");
margin: 0 0 6px 0;
height: 300px;
 width: 300px; 
background-color:#266fde;}
#c3{
    background-image: url("https://github.com/Daniel-Newman/Clamber/blob/master/classes.jpg?raw=true");
height: 300px;
 width: 300px;
 background-color:#5291ef;
}

.clam{
margin: 359px 0 0 0;
 position: absolute;
   
}
.clam img{
width:918px;
 height:180px;
}
.row1{
float:left;
margin: 3px;

}
.row2{
float:left;
margin: 3px;
}
.row3{
float:left;
margin: 3px;
}
